@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Balsamiq Sans', cursive;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #f1f2f6;
}

.App {

  .container {
    

    .header {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      font-size: 30px;
      font-weight: 800;
      color: #666;

      .brand {
        margin-top: 6px;
        color: #666;
        text-decoration: none;
      }

      .create {
        color: #fff;
        font-size: 18px;
        padding: 10px;
        background-color: #6ec2aa;
        border-radius: 8px;
        text-decoration: none;
        transition: all .3s ease-in-out;
      }

      .create:hover {
        background-color: #41977f;
      }
    }

    .content {
      padding: 15px;

      textarea {
        width: 100%;
        border: 1px solid #e3e3e3;
        outline: 0;
        resize: none;
        padding: 15px;
        border-radius: 4px;
      }
    }

    .notes {
      margin: 10px 15px;
      background-color: #fff;
      padding: 10px;
      border-radius: 5px;
    }
  }
}



