@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Balsamiq Sans', cursive;
}

body {
  background-color: #f1f2f6;
}

.App {

  .container {

    .header {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      font-size: 30px;
      font-weight: 800;
      color: #666;

      .brand {
        margin-top: 6px;
      }

      .create {
        color: #fff;
        font-size: 20px;
        padding: 10px;
        background-color: #6ec2aa;
        border-radius: 4px;
      }
    }
  }
}



